{% set GITHUB_RSA_FILE = pillar['git']['rsa_folder'] + '/' + pillar['git']['rsa_file_name'] %}

cat >> /root/.ssh/ssh_config << EOL
Host github.com
    HostName github.com
    IdentityFile {{ GITHUB_RSA_FILE }}
EOL
chmod 600 /root/.ssh/ssh_config